.ContacContainer{
    background-color: #252B42;
    padding: 20px 0;
    height: auto;
} 
.ContacContainer a{
 text-decoration: none;
 display: block;
 color: white;
}
.ContacContainer .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.input{
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    padding-left: 5px;
    max-width:250px;
    
}
.cardFooter{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
